<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il Basso Consiglio</title>
    <link href="http://localhost:8000/css/chapters.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body onload="responsive()">

    <div class="barra_sinistra">
        <div class="bg_logo">
            <a href="/"> <img id="logo" src="/images/logo/logo-dark.png"></a>
        </div>
        <span id="ilBassoConsiglio"><a href="/">Il Basso Consiglio</a></span>
    </div>

    
    <div class="bg_destra">
        <div class="controlli">
            <div id="prev" class="button">
                <% if (prevIndex < 1) { %>
                    &triangleleft;
                <% } else { %>
                    <a href="<%=prevLink%>">&triangleleft;</a>
                <% } %>
            </div>
            <div id="list" class="button"><a href="/Maou">&#x2630;</a></div>
            <div id="next" class="button">
                <% if (nextIndex > last) { %>
                    &triangleright;
                <% } else { %>
                    <a href="<%=nextLink%>">&triangleright;</a>
                <% } %>
            </div>
        </div>
        <div class="pagine">
            <% for(let i = 1; i <= num; i++) { %>
                <% var id = (i < 10 ? "0" : "" ) + i%>
                <% var image = "/images/Maou/C" + index + "/" + id + ".png" %>
                <img class="immagine" src="<%=image%>">
                <br>
            <% } %>
        </div>
        <div class="controlli">
            <div id="prev" class="button">
                <% if (prevIndex < 1) { %>
                    &triangleleft;
                <% } else { %>
                    <a href="<%=prevLink%>">&triangleleft;</a>
                <% } %>
            </div>
            <div id="top" class="button" onclick="topFunction()">&bigtriangleup;</div>
            <div id="next" class="button">
                <% if (nextIndex > last) { %>
                    &triangleright;
                <% } else { %>
                    <a href="<%=nextLink%>">&triangleright;</a>
                <% } %>
            </div>
        </div>
    </div> 

    <script defer src="http://localhost:8000/js/chapters.js"></script>

</body>

</html>